@import "tailwindcss";

@theme {
  --color-slate: #2d2d2d;
  --color-veryLightGray: #f5f5f8;
  --color-lightGray: #e2e2e2;
  --color-darkGray: #3a3a3a;
  --color-veryDarkGray: #1e1e1e;
  --color-green: #28b30e;
  --color-lightGreen: #d6ffd0;
  --color-yellow: #feab4f;
}
